.Header{
  border-bottom: 1px solid #ccc;
  text-align: center;
  position: relative;
  height: 44px;
  background: #5b36ac;
  padding-top: 13px;
  box-sizing: border-box;
  color: #fff;
  .HeaderCenterTitle{
    a{
      color: #fff;
      font-size: 17px;
    }
  }
  .listIcon{
    position: absolute;
    left:12px;
    top:9px;
    .menuIcon{
      width: 24px;
    }
  }
  .peopleIcon{
    position: absolute;
    right:12px;
    top:9px;
    .profileIcon{
      width: 24px;
    }
  }
}

.FriendsListWrap{
  li{
    position: relative;
    height: 74px;
    box-sizing: border-box;
    padding-top: 22px;
    .profileImage{
      width: 56px;
      position: absolute;
      left:16px;
      top:12px;
      border-radius: 50%;
    }
    .friendsNameWithContent{
      padding-left: 100px;
      padding-right: 100px;
      .friendsName{
        font-weight: bold;
        font-size: 16px;
        color: #464052;
        margin-bottom: 3px;
      }
      .textContent{
        font-size: 13px;
        color: #a4a6b0;
      }
    }
    .dateWithAlarmNumbering{
      position: absolute;
      right:16px;
      top:22px;
      .date{
        font-size: 11px;
        color: #363a42;
        margin-bottom: 6px;
      }
      .alarmNumbering{
        color: #fff;
        width: 18px;
        height: 18px;
        line-height: 18px;
        background: #5b36ac;
        border-radius: 50%;
        text-align: center;
        display: block;
        font-size: 10px;
        margin:0 auto;
      }
    }
  }
}

.ChattingRoom{
  position: relative;
  .chattingMessageWrap{
    padding: 16px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #f9f9fb;
    .talkMessage{
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      .about{
        padding: 12px;
        border-radius: 12px;
        //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        display: inline-block;
        background: white;
      }
    }
    .leftSide{

    }
    .rightSide{
      .about{
        float: right;
        background-color: #5b36ac;
        color: #fff;
      }
    }
  }
  .writeMessageArea{
    position: fixed;
    padding: 0 16px 0 16px;
    width: 100%;
    box-sizing: border-box;
    bottom:10px;
    .InputandLabelWrap{
      position: relative;
      padding-right: 63px;
      .messageInput{
        border: none;
        width: 100%;
        padding-left: 16px;
        box-sizing: border-box;
        background: white;
        height: 50px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        border-radius: 25px;
      }
      .writeMessage{
        width: 50px;
        height: 50px;
        display: block;
        text-align: center;
        background: url("../components/image/img-send@3x.png") no-repeat center center #5b36ac;
        -webkit-background-size: 26px;
        background-size: 26px;
        border-radius: 50%;
        position: absolute;
        right:0px;
        top:0;
      }
    }
  }
}
